<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.StudentMapper">

    <resultMap type="Student" id="StudentResult">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="dob" column="dob" />
    </resultMap>

    <select id="findAllStudents" resultMap="StudentResult">
        SELECT * FROM t_student
    </select>

    <select id="findStudentById" parameterType="int" resultType="Student">
        SELECT id, NAME, EMAIL, DOB FROM t_student WHERE id = #{id}
    </select>

    <insert id="insertStudent" parameterType="Student">
        INSERT INTO t_student(id,NAME,EMAIL,DOB) VALUES(#{id },#{name},#{email},#{dob})
    </insert>
    <delete id="deleteStudentById" parameterType="int">
        DELETE FROM t_student WHERE id = #{id}
    </delete>
    <update id="updateStudent" parameterType="Student">
        UPDATE t_student set name = #{name}, email = #{email}, dob = #{dob} WHERE id = #{id}
    </update>
    <select id="page" resultType="Student">
        SELECT
            id,
            name,
            email
        FROM
            t_student
        LIMIT
            #{offset},#{size}
    </select>
</mapper>
