<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kaishengit.mapper.UserMapper">

    <cache/>
    <resultMap id="baseMap" type="user">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password" />
        <result column="address" property="address"/>
        <result column="dept_id" property="deptId"/>
    </resultMap>

    <!--<resultMap id="resultMap" type="user">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password" />
        <result column="address" property="address"/>
        <result column="dept_id" property="deptId"/>
        <association property="dept" javaType="com.kaishengit.Dept">
            <id column="id" property="id"/>
            <result column="dept_name" property="deptName"/>
        </association>
    </resultMap>-->
    <select id="findUserById" resultType="user">
        SELECT
            u.id,
            user_name,
            PASSWORD,
            address,
            dept_id,
            d.id as 'dept.id',<!--ORGL对象图导航语言-->
           dept_name as 'dept.deptName'
        FROM
            t_user u
        LEFT JOIN t_dept d ON u.dept_id = d.id
        WHERE
            u.id = #{userId};
    </select>

    <resultMap id="userwithTagMap" type="user" extends="baseMap">
        <collection property="tagList" ofType="tag">
            <id column="tag_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>

    <select id="findByIdWithTag" resultMap="userwithTagMap" parameterType="int">
        SELECT
            t_user.id,
            user_name,
            PASSWORD,
            address,
            dept_id,
            t_tag.id as tag_id,
            tag_name
        FROM
            t_user
        INNER JOIN t_user_tag ON t_user.id = t_user_tag.uid
        INNER JOIN t_tag ON t_tag.id = t_user_tag.tid
        WHERE
            t_user.id = 1
    </select>
</mapper>